*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(233, 233, 233);
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container{
    background-color: white;
    width: 500px;
    border-radius: 10px;
}

.questions-answers{
    padding: 20px;

}



h2{
    text-align: center;
}



ul li{
    list-style: none;
}


button{
    width: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: rgb(62, 62, 119);
    font-size: 1.5rem;
    color: white;
    padding: 10px;

}

button:hover{
    background-color:rgb(23, 23, 63);
    cursor: pointer;
}